* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(45deg, black, green);
  /* background-size: 200% 200%; */
  position: relative;
  font-family: Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* este es el nav de la pagina */
.header {
  /* position: fixed; */
  background-color: #1669;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 0%;
  margin: 0%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px cyan;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.menu {
  width: 100%;
  height: auto;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul li a:hover {
  text-shadow: 0 0 5px #444, 0 0 10px #444, 0 0 15px #444, 0 0 20px #444;
  color: cyan;
}

/* aca acaba el nav de la pagina */

/* este es el tetxto principal centrado css */
.centerText {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  height: 50%;
  text-align: center;
}
section {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-around;
  /* flex-direction: row; */
  margin-top: 5px;
  /* background-color: #1669; */
}
/* aca acabaria el centrado y prubes */

/* edit del titulo y sub titulos */
.tituloPrincipal {
  text-shadow: 0 0 15px cyan;
  color: white;
  margin: 0%;
  padding-bottom: 5px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
h1:hover {
  text-shadow: 0 0 10px white, 0 0 15px white;
  color: black;
}

.sobreTi {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteinerH1 {
  border: 2px solid black;
  box-shadow: inset 0 0 5px cyan, 0 0 10px cyan, 0 0 15px cyan, 0 0 20px cyan;
  border-radius: 50px;
  max-width: 400px;
  width: 300px;
  background: linear-gradient(45deg, cyan, white, blue);
  position: relative;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.neon {
  margin: 0%;
  font-size: 20px;
  text-shadow: 0 0 5px green, 0 0 10px wheat, 0 0 15px green;
}

/* aca se acaban los edit de los titulos */

.mainDiv {
  display: flex;
  flex-direction: column;
}

/* css del footer */

.contenedorFooter {
  color: whitesmoke;
  background-color: #1669;
  text-align: center;
  margin-top: auto;
}

footer {
  margin-top: auto;
  border-radius: 20px;
  box-shadow: 2px 2px 5px cyan;
}

/* termina el css del footer */

/* edit de los textos */

.primerTexto {
  font-size: 20px;
  text-shadow: 0 0 10px cyan;
}

/* aca finalizan */
