/* este es el nav de la pagina */
.header {
  background-color: #1669;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 0%;
  margin: 0%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px cyan;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.menu {
  width: 100%;
  height: auto;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul li a:hover {
  text-shadow: 0 0 5px #444, 0 0 10px #444, 0 0 15px #444, 0 0 20px #444;
  color: cyan;
}

/* aca acaba el nav de la pagina */
